<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{22,34}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{22,34}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{22,34}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,808},{20,32}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{20,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1226},{22,30}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,26},{22,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{22,30}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,30},{22,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1202},{22,32}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,30},{22,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{24,32}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{24,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,738},{20,34}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{20,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/J_chesting_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,774},{20,32}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,31},{20,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1408},{18,22}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{18,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1250},{24,22}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{26,20}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,63},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{18,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{18,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{24,22}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,50},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{28,18}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,54},{28,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,684},{28,16}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,57},{28,16}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,654},{28,16}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,59},{28,16}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{24,20}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,60},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/P_chesting_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{22,20}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,59},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1060},{22,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{22,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,842},{24,68}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{24,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1134},{32,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,35},{32,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,986},{22,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,29},{22,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{30,78}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,17},{30,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1274},{36,68}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{36,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1408},{36,62}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{36,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,1344},{36,62}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{36,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{28,70}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{28,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/W_yifu_l_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,912},{22,72}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{22,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{32,88}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,18},{32,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{36,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,22},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{40,82}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{40,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{46,92}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{46,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{52,100}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{52,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,94}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,11},{56,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{54,92}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{54,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{50,88}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{50,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{52,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{52,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/chesting/chesting_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{44,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{44,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chesting.png</string>
            <key>size</key>
            <string>{62,1472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2310574b1c76909db752c50aad812cce:1077858f8de6898968318f3e0b07aa90:850a26dd3f9f8c1c45681fb5dd265a0b$</string>
            <key>textureFileName</key>
            <string>chesting.png</string>
        </dict>
    </dict>
</plist>
