<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,38},{32,88}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,18},{32,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2},{34,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,19},{34,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{44,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,19},{44,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{42,82}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,20},{42,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{44,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,21},{44,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{46,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{46,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{54,78}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{54,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{56,94}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{56,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{48,96}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,5},{48,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{48,84}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,20},{48,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{46,76}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{46,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{42,76}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{42,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{38,76}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,29},{38,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{34,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{34,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{36,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,20},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{38,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,38},{32,86}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,18},{32,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,40},{30,86}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,19},{30,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/Header_L_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,40},{30,88}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{30,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,2},{22,34}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,28},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{16,34}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,29},{16,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{18,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{18,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{18,34}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,31},{18,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,38},{18,32}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,35},{18,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,50},{20,32}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,36},{20,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,46},{24,38}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,21},{24,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,46},{24,38}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,9},{24,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{26,34}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,20},{26,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{24,34}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2},{22,34}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,52},{18,36}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,36},{18,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,52},{18,36}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,33},{18,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{16,36}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{16,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2},{16,36}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{16,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,2},{16,36}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{16,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,52},{18,34}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,28},{18,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/J_Header_L_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,48},{22,34}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,52},{18,22}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,56},{18,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,38},{26,20}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{26,18}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,60},{26,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,30},{26,18}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,61},{26,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,46},{20,22}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,24},{22,20}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,63},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{22,20}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,63},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,42},{28,18}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,53},{28,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,50},{26,20}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,46},{20,22}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,48},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,2},{24,20}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,59},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,50},{26,20}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,42},{28,18}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,66},{28,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{26,18}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,65},{26,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,30},{24,20}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,28},{22,22}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{20,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,56},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,24},{16,20}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{16,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/P_Header_L_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,2},{18,20}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,58},{18,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,48},{22,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{22,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{26,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{26,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,30},{34,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,68}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{34,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{28,68}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{28,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{32,62}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,35},{32,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{36,60}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{36,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,2},{36,76}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,20},{36,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,40},{26,72}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,9},{26,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,42},{26,72}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,20},{26,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,46},{24,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{24,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{28,66}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,34},{28,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{30,64}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{30,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{24,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{24,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,38},{26,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,28},{26,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,42},{26,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,25},{26,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,48},{22,70}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,27},{22,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,52},{18,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,27},{18,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Header/W_yifu_l_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,50},{20,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{20,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Header.png</string>
            <key>size</key>
            <string>{2002,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c36ca325349cd4b09704a84cac9b82f3:4f8f193a5ce168c8c6cc166b6c52a95b:5b597164b581dd8f3a45ceaabd404e13$</string>
            <key>textureFileName</key>
            <string>Header.png</string>
        </dict>
    </dict>
</plist>
