<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{22,34}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,104},{20,34}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,30},{20,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{18,34}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,30},{18,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,72},{24,34}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,72},{24,34}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,68},{22,34}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,31},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,66},{20,32}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{20,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,76},{22,36}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{22,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,78},{22,40}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{22,40}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,78},{24,42}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,25},{24,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,80},{32,42}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,23},{32,42}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,76},{20,36}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{20,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,94},{22,30}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{22,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,96},{24,28}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,35},{24,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,62},{30,30}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{30,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,72},{34,32}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,28},{34,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,74},{34,32}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{34,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,96},{28,34}}</string>
                <key>offset</key>
                <string>{-8,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,28},{28,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,68},{20,34}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{20,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,104},{20,34}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,29},{20,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/J_Shooting_L_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,72},{22,34}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{22,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,66},{18,22}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,57},{18,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,24},{20,22}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,24},{22,20}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,60},{22,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,58},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,86},{22,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,58},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,46},{18,22}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,58},{18,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,38},{26,20}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,60},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{32,22}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,61},{32,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,34},{24,22}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,61},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,60},{24,24}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,34},{24,24}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{24,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{22,20}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,38},{28,22}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,58},{28,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,94},{30,22}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,55},{30,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{30,30}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,45},{30,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,96},{28,32}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,44},{28,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,98},{26,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,47},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,36},{24,24}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,54},{24,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{20,24}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,55},{20,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,86},{20,20}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{20,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/P_Shooting_L_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,86},{18,20}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,59},{18,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,92},{32,88}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,19},{32,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{36,84}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{40,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{40,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{42,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,23},{42,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{44,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{44,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,84},{40,78}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,26},{40,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,80},{44,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,26},{44,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{64,76}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,29},{64,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,84},{40,80}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{40,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{48,82}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,24},{48,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{86,84}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{86,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{52,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{52,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{56,80}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{56,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{72,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{72,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{88,76}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{88,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{92,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{92,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{82,92}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{82,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,94}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{64,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{44,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{44,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{34,94}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,17},{34,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/Shooting_L_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,90},{34,86}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,19},{34,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{22,72}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,30},{22,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,2},{20,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,29},{20,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,98},{26,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{26,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{24,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{24,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{24,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{24,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{26,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,31},{26,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{32,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{32,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,80},{44,66}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,34},{44,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{24,72}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,29},{24,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,88},{36,72}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{36,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{52,70}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,24},{52,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,76},{34,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,29},{34,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,96},{28,66}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,33},{28,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,76},{36,64}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,35},{36,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{58,68}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{58,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{52,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{52,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{48,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{48,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,86},{38,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,28},{38,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{20,76}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{20,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{20,76}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{20,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Left_view/Shooting/W_yifu_l_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{22,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{22,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shooting.png</string>
            <key>size</key>
            <string>{1572,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bfe5da299b58edf81c9a67171a5aa60:98516b78ea27a6bd20109c848c6b43c7:3338fd1c5fc9b58381461a3615eb22b8$</string>
            <key>textureFileName</key>
            <string>Shooting.png</string>
        </dict>
    </dict>
</plist>
