<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{38,86}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,17},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{46,88}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{46,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{48,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,17},{48,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{48,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{48,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{50,90}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{50,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{44,84}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,27},{44,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{44,84}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{44,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,94}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,6},{40,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,94}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{74,88}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{74,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{64,82}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,15},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{56,80}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{56,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{44,78}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,23},{44,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,858},{40,78}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{40,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{42,86}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{42,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{44,90}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,16},{44,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{42,88}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{42,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{42,86}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{42,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/Header_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{42,84}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,19},{42,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,114},{26,30}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,31},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,1316},{30,30}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{30,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{32,30}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{32,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1284},{32,30}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,32},{32,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1252},{32,30}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{32,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1254},{32,28}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,39},{32,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,216},{32,28}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{32,28}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,76},{26,36}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,23},{26,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1002},{42,34}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{42,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1038},{40,34}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,17},{40,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,756},{36,34}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1074},{34,34}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{34,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{30,34}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,36},{30,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1218},{32,32}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{32,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{34,32}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{34,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1110},{34,32}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{34,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1186},{34,30}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{34,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{32,30}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{32,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/J_Header_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{30,30}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,32},{30,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1126},{26,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,54},{26,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1186},{24,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1196},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1172},{24,22}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,57},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1232},{26,20}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,59},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1286},{24,20}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,61},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1330},{22,20}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,61},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1328},{20,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{20,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1308},{22,18}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{22,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1308},{22,20}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,47},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1288},{22,18}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{22,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1334},{22,14}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{22,14}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1100},{24,18}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,61},{24,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1038},{24,12}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,64},{24,12}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1074},{24,18}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,59},{24,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1264},{24,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1242},{24,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1220},{24,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/P_Header_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1210},{24,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,56},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,146},{28,68}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{28,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,250},{30,70}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,32},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,468},{32,74}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{32,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,392},{32,74}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{32,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{32,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{32,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{32,68}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,38},{32,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{32,62}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,40},{32,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{26,72}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{26,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,938},{44,62}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,10},{44,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{40,66}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,16},{40,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,688},{36,66}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,27},{36,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,792},{34,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{34,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1154},{30,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,37},{30,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{32,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,35},{32,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,616},{34,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,31},{34,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,544},{34,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,30},{34,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{32,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,31},{32,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1036},{32,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,32},{32,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Header/W_Header_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,322},{30,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,31},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Header.png</string>
            <key>size</key>
            <string>{126,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e282f3bb9eeb07dfd17dd317a39245e:6a881515796ad64afc56b1aa3fcdff3c:5b597164b581dd8f3a45ceaabd404e13$</string>
            <key>textureFileName</key>
            <string>Header.png</string>
        </dict>
    </dict>
</plist>
