<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_kuzi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,826},{26,18}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,73},{26,18}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_kuzi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,554},{26,16}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,76},{26,16}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_kuzi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,902},{24,20}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,69},{24,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_kuzi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,526},{26,16}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,75},{26,16}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_kuzi_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,798},{26,18}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,72},{26,18}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_tiaowen_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{38,32}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{38,32}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_tiaowen_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{34,32}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{34,32}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_tiaowen_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{32,30}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,40},{32,30}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_tiaowen_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{34,32}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,45},{34,32}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_tiaowen_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{32,32}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,44},{32,32}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yansei_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,82}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,32},{52,82}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yansei_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{40,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{40,82}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yansei_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{42,84}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{42,84}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yansei_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{42,80}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{42,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yansei_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{40,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,31},{40,84}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yifu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{38,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,45},{38,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yifu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{34,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,45},{34,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yifu_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{34,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,39},{34,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yifu_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{34,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{34,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/hit/qiuji_b_yifu_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{32,68}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,43},{32,68}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.png</string>
            <key>size</key>
            <string>{56,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010a67929539a67447deb7974ddd248e:0879ce2f2a844fc1ef4fd6b2549e7db4:516f89fe362b6390efd4aa18575c8762$</string>
            <key>textureFileName</key>
            <string>hit.png</string>
        </dict>
    </dict>
</plist>
