<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1214},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1182},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1150},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1118},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1086},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1054},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1022},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,990},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1736},{28,30}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{28,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{28,30}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{28,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/J_idle_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,958},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,754},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,726},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1270},{26,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{26,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1246},{26,22}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{26,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,698},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,808},{24,20}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,57},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1294},{24,22}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,55},{24,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,782},{24,20}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,57},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,670},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,642},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/P_idle_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,614},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1456},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1386},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{30,70}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{30,70}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{30,70}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{30,70}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/W_idle_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{30,68}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,33},{30,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{36,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{36,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{36,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{36,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,20},{36,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{38,84}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,20},{38,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{38,86}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{38,86}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{38,86}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{38,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{38,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/idle/idle_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{38,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{38,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{62,1768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bbbe314def820bc7dab14b501b891e2:4dba7f578f9350c2bc490aa6a6f7a2a6:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
