<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,98},{26,30}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,32},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,72},{28,32}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{28,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,72},{30,32}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{30,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,42},{28,34}}</string>
                <key>offset</key>
                <string>{3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,29},{28,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{30,34}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{30,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,88},{32,34}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{32,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,72},{30,34}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{30,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,88},{36,32}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,33},{36,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,90},{38,34}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{38,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,90},{38,34}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,31},{38,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,88},{32,34}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,30},{32,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,90},{36,34}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{36,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,88},{32,34}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,30},{32,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,98},{26,34}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,29},{26,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,102},{22,36}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,26},{22,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,98},{24,34}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,29},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,98},{26,30}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,34},{26,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,36},{28,30}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,35},{28,30}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2},{34,32}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,33},{34,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,38},{32,32}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{32,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/J_Shooting_B_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,38},{28,32}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,31},{28,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,98},{26,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,57},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,92},{22,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,56},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,68},{22,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,57},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,68},{22,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,58},{22,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,106},{22,18}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,59},{22,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,46},{20,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,58},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,94},{22,22}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{22,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,2},{22,20}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,106},{22,18}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{22,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{22,20}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{22,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,68},{24,20}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,58},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,106},{24,18}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,59},{24,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,92},{20,18}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{20,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,46},{18,20}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{18,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,2},{20,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,41},{20,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{22,36}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,43},{22,36}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{24,32}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,47},{24,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{22,24}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,55},{22,24}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,24},{18,20}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,59},{18,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,68},{18,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,58},{18,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/P_Shooting_B_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,24},{20,22}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,57},{20,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{38,84}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,20},{38,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{42,90}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{42,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{44,92}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{44,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{40,86}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{40,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{40,88}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,16},{40,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{42,92}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{42,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{42,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{42,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,98}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{50,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{62,84}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,18},{62,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{70,88}}</string>
                <key>offset</key>
                <string>{-16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{70,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{60,94}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{60,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{60,94}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{60,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{44,84}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,17},{44,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{44,86}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{44,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{52,92}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{52,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{62,92}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,15},{62,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{60,88}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{60,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{58,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,22},{58,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{62,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,22},{62,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{58,84}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{58,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/Shooting_B_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{44,86}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{44,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{28,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{28,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,96},{28,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,30},{28,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{30,74}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{30,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{30,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{30,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,29},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,92},{32,74}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{32,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,94},{30,78}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,28},{30,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,88},{36,78}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,32},{36,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,72},{38,66}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,32},{38,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{38,70}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{38,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,88},{36,54}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,30},{36,54}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{38,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,30},{38,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,92},{32,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,30},{32,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,96},{28,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,29},{28,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{30,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{30,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{40,74}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{40,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,80},{44,66}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,34},{44,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,88},{36,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,34},{36,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,74},{40,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,34},{40,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,78},{40,68}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,32},{40,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Back_view/Shooting/W_Shooting_B_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,96},{28,70}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,31},{28,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Shooting.png</string>
            <key>size</key>
            <string>{1588,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e2c998b478869da84c9b2aac46dee5f:4af7039fe4419bea0d827c699336271a:3338fd1c5fc9b58381461a3615eb22b8$</string>
            <key>textureFileName</key>
            <string>Shooting.png</string>
        </dict>
    </dict>
</plist>
