<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/J_catch_ball_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{68,20}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,78},{68,20}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/J_catch_ball_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{64,24}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,70},{64,24}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/J_catch_ball_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,404},{52,26}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,64},{52,26}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/J_catch_ball_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,92},{38,28}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,62},{38,28}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/J_catch_ball_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,132},{24,28}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,62},{24,28}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/P_catch_ball_F_255.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,182},{36,20}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,93},{36,20}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/P_catch_ball_F_256.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,158},{36,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,88},{36,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/P_catch_ball_F_257.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,404},{34,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,85},{34,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/P_catch_ball_F_258.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,428},{32,22}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,85},{32,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/P_catch_ball_F_259.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,68},{30,22}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,86},{30,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/W_catch_ball_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{68,50}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,77},{68,50}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/W_catch_ball_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{64,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,71},{64,56}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/W_catch_ball_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,340},{52,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,65},{52,62}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/W_catch_ball_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,272},{42,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,61},{42,66}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/W_catch_ball_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,204},{38,66}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,61},{38,66}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/catch_ball_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,62}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,74},{96,62}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/catch_ball_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{90,70}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,66},{90,70}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/catch_ball_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{74,78}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,58},{74,78}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/catch_ball_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{60,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,54},{60,82}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/catch_ball/catch_ball_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{50,84}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,52},{50,84}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catch_ball.png</string>
            <key>size</key>
            <string>{126,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03856d7e8b2d940bae697edb69529c6f:179fb9f3e76ada6f5716dfd4c4d836f0:41828b123f0013d1355969f0f7424502$</string>
            <key>textureFileName</key>
            <string>catch_ball.png</string>
        </dict>
    </dict>
</plist>
