<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,62}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,74},{96,62}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{66,46}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,90},{66,46}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{80,86}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,50},{80,86}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,110}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,26},{50,110}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,798},{44,120}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,10},{44,120}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{46,126}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,3},{46,126}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,536},{46,126}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,2},{46,126}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{44,104}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,29},{44,104}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,458},{40,76}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,61},{40,76}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{42,76}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,62},{42,76}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/High_altitude_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{48,78}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,60},{48,78}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{68,22}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,77},{68,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,260},{52,24}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,90},{52,24}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,400},{56,38}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,55},{56,38}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{36,50}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,35},{36,50}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,728},{28,54}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,20},{28,54}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,696},{30,54}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,14},{30,54}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,664},{30,54}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,11},{30,54}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{30,42}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,38},{30,42}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,952},{30,28}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,68},{30,28}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,926},{30,30}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,69},{30,30}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/J_High_altitude_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,920},{30,30}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{30,30}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{36,20}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,93},{36,20}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,138},{34,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,101},{34,18}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,926},{32,22}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,88},{32,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,846},{24,22}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{24,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,822},{24,22}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,70},{24,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,798},{24,22}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,65},{24,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,958},{22,22}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,61},{22,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,870},{22,24}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,75},{22,24}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,204},{26,18}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,94},{26,18}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,174},{28,18}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,93},{28,18}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/P_High_altitude_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,894},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,84},{30,22}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{70,50}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,78},{70,50}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,758},{52,38}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,90},{52,38}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{56,72}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,56},{56,72}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{36,92}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,35},{36,92}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{30,96}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,19},{30,96}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{30,96}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,14},{30,96}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{30,96}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,11},{30,96}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,314},{30,84}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,38},{30,84}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{30,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,68},{30,60}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{32,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,68},{32,60}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/High_altitude/W_High_altitude_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{36,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,66},{36,62}}</string>
                <key>sourceSize</key>
                <string>{236,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>High_altitude.png</string>
            <key>size</key>
            <string>{122,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6897095b6e55e2e1dac14d466482c71d:fe43784e113fc4b8de6ba46ab90e844a:22f642d60e2c092c5a800d60416bafff$</string>
            <key>textureFileName</key>
            <string>High_altitude.png</string>
        </dict>
    </dict>
</plist>
