<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{66,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,82},{66,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1118},{56,48}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{56,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,862},{46,44}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,92},{46,44}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{102,42}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,92},{102,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{104,28}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,111},{104,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{96,26}}</string>
                <key>offset</key>
                <string>{26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,114},{96,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{100,26}}</string>
                <key>offset</key>
                <string>{22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{100,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{90,28}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{90,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{72,34}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,111},{72,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1238},{36,38}}</string>
                <key>offset</key>
                <string>{30,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,107},{36,38}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{40,34}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,102},{40,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,1198},{38,42}}</string>
                <key>offset</key>
                <string>{20,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,94},{38,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/J_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,908},{56,48}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,88},{56,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1242},{34,36}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,100},{34,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,496},{36,30}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,107},{36,30}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1278},{36,24}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,112},{36,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1168},{50,28}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,106},{50,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,966},{52,22}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,117},{52,22}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1198},{42,28}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,114},{42,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{48,22}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,120},{48,22}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,362},{50,24}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,117},{50,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,414},{42,26}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,113},{42,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1278},{24,22}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,111},{24,22}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{30,24}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,110},{30,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,1276},{34,28}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,108},{34,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/P_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,458},{36,30}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,106},{36,30}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{68,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,82},{68,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1056},{60,50}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,87},{60,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1106},{64,44}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{64,44}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{102,46}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,93},{102,46}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{104,28}}</string>
                <key>offset</key>
                <string>{21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,111},{104,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{104,26}}</string>
                <key>offset</key>
                <string>{22,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,114},{104,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{100,26}}</string>
                <key>offset</key>
                <string>{22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{100,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{90,28}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,118},{90,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{72,34}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,111},{72,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,662},{70,40}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,106},{70,40}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1068},{66,36}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,101},{66,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1152},{62,42}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,94},{62,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/W_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,990},{64,50}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,87},{64,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{94,66}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,78},{94,66}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{78,62}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{76,58}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,86},{76,58}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,60}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,86},{120,60}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,534},{126,32}}</string>
                <key>offset</key>
                <string>{20,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,109},{126,32}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,734},{126,42}}</string>
                <key>offset</key>
                <string>{21,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,107},{126,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{120,28}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,120},{120,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{106,30}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,118},{106,30}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{88,38}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,110},{88,38}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{82,42}}</string>
                <key>offset</key>
                <string>{15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,106},{82,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{80,44}}</string>
                <key>offset</key>
                <string>{11,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,102},{80,44}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{74,50}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,94},{74,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/sideways_remedy/sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{82,58}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,86},{82,58}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sideways_remedy.png</string>
            <key>size</key>
            <string>{126,1308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24380699769318124c91aa814e2cff09:8b47c0b4df6e60c3cb2ab69408599c23:f2806fb334723330499c485ee94a4a2b$</string>
            <key>textureFileName</key>
            <string>sideways_remedy.png</string>
        </dict>
    </dict>
</plist>
