<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1530},{58,54}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,83},{58,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1364},{46,56}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,80},{46,56}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{80,76}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,61},{80,76}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{94,58}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,50},{94,58}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{104,40}}</string>
                <key>offset</key>
                <string>{19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,77},{104,40}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{100,30}}</string>
                <key>offset</key>
                <string>{23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,93},{100,30}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{100,26}}</string>
                <key>offset</key>
                <string>{21,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,119},{100,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{100,26}}</string>
                <key>offset</key>
                <string>{22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{100,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,524},{90,26}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,119},{90,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{72,34}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,111},{72,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1014},{36,38}}</string>
                <key>offset</key>
                <string>{30,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,107},{36,38}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,978},{40,34}}</string>
                <key>offset</key>
                <string>{24,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,102},{40,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,860},{38,44}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,92},{38,44}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/J_volley_sideways_remedy_F_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1474},{58,54}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,81},{58,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1622},{36,34}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,103},{36,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1628},{36,36}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{36,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1148},{36,48}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,89},{36,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1586},{48,34}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,74},{48,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{52,22}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,96},{52,22}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{46,28}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,106},{46,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,474},{48,24}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,118},{48,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{48,22}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,120},{48,22}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,422},{50,24}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,117},{50,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1120},{42,26}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,113},{42,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1666},{24,24}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,110},{24,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,616},{30,24}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,110},{30,24}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1658},{34,28}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,108},{34,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/P_volley_sideways_remedy_F_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1198},{36,36}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,99},{36,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1412},{60,54}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,82},{60,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{64,56}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,80},{64,56}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{88,76}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,61},{88,76}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{96,58}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,50},{96,58}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{102,40}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,78},{102,40}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{102,42}}</string>
                <key>offset</key>
                <string>{22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,93},{102,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{104,28}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,117},{104,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{100,26}}</string>
                <key>offset</key>
                <string>{22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,120},{100,26}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,642},{90,28}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,118},{90,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1216},{72,34}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,111},{72,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,906},{70,40}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,106},{70,40}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1052},{66,36}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,101},{66,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1404},{64,44}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,92},{64,44}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/W_volley_sideways_remedy_F_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{66,56}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,80},{66,56}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{80,66}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,78},{80,66}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{78,68}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,76},{78,68}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{112,82}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,62},{112,82}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{126,90}}</string>
                <key>offset</key>
                <string>{22,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,46},{126,90}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{128,62}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,76},{128,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1236},{126,48}}</string>
                <key>offset</key>
                <string>{23,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,92},{126,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,734},{124,32}}</string>
                <key>offset</key>
                <string>{19,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,116},{124,32}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,28}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,120},{120,28}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{106,30}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,118},{106,30}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{86,36}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,112},{86,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{82,42}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,106},{82,42}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{80,44}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,102},{80,44}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{78,52}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,92},{78,52}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/volley_sideways_remedy/volley_sideways_remedy_F_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{86,68}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{86,68}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volley_sideways_remedy.png</string>
            <key>size</key>
            <string>{126,1692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e37cc9b293ddddced79b9ccb3696d8a:dba7d0133b8dc8ed374aa588d7fd06bd:76d18fa521eab071f98b3c9a9c324bfa$</string>
            <key>textureFileName</key>
            <string>volley_sideways_remedy.png</string>
        </dict>
    </dict>
</plist>
