<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1654},{56,50}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1602},{56,50}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{56,50}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1498},{56,50}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,83},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1806},{56,48}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,86},{56,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1756},{56,48}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{56,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{56,50}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{56,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{56,52}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1078},{56,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{56,52}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/J_walk_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{56,50}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{36,34}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,102},{36,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{34,34}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,101},{34,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1970},{30,36}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,98},{30,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2004},{28,34}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,99},{28,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2008},{26,34}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,100},{26,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1894},{26,34}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,101},{26,34}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,1856},{26,36}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,100},{26,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1930},{28,38}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,98},{28,38}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1964},{30,38}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,98},{30,38}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/P_walk_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{34,36}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,100},{34,36}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{56,50}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,86},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{56,52}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{56,52}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{56,54}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,83},{56,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{56,54}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,83},{56,54}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1290},{56,50}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,85},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{56,48}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,87},{56,48}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{56,50}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{56,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{56,52}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{56,52}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,84},{56,52}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/W_walk_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{56,50}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,86},{56,50}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{78,60}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,84},{78,60}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{78,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{78,62}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,82},{80,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,84},{78,60}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
            <key>ccbResources/model/goalkeeper/Front_view/walk/walk_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,82},{78,62}}</string>
                <key>sourceSize</key>
                <string>{220,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{68,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dced41dd8b9558cb712f8335ed7bc4e6:d1ecf0d805ea2eeb6a584ced18e4e20a:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
