<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/effect/ball/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,277},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,257},{16,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>ccbResources/effect/ball/big_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/effect/ball/tail.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,257},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ball.png</string>
            <key>size</key>
            <string>{257,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd614beb2528acccd5a72141880de00a:115165a8c0953c02d7582c431c39c7c5:e57f35bfef2be3d4eb0ba1c46e3d929b$</string>
            <key>textureFileName</key>
            <string>ball.png</string>
        </dict>
    </dict>
</plist>
