<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/ui_common/btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>ccbResources/ui_common/btn_blue_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>ccbResources/ui_common/btn_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>ccbResources/ui_common/btn_white_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_common.png</string>
            <key>size</key>
            <string>{1210,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f9c690e684f7ec740435c5bf39d00c8:146a5bf68208dc6dfa23c671e67e8aba:7ee1ec5b7f377442224200acdc0091e2$</string>
            <key>textureFileName</key>
            <string>ui_common.png</string>
        </dict>
    </dict>
</plist>
