<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/ui_combat/Black_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,116},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ccbResources/ui_combat/arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1977,2},{48,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,20}}</string>
                <key>sourceSize</key>
                <string>{48,20}</string>
            </dict>
            <key>ccbResources/ui_combat/autumn_net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,28}</string>
            </dict>
            <key>ccbResources/ui_combat/autumn_net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/autumn_net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/autumn_net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/autumn_net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{160,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/autumn_net_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/ball_aim.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,129},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,112},{32,32}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/ui_combat/ball_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,78},{40,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,114},{40,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/ui_combat/ball_landing.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,129},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,121},{28,14}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/ui_combat/ball_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,122},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,96},{64,64}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>ccbResources/ui_combat/big_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,98},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>ccbResources/ui_combat/circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,129},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ccbResources/ui_combat/cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,168},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{23,23}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ccbResources/ui_combat/di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,110},{556,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,80}}</string>
                <key>sourceSize</key>
                <string>{556,80}</string>
            </dict>
            <key>ccbResources/ui_combat/door_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{118,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,53}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>ccbResources/ui_combat/door_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,110},{82,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,252}}</string>
                <key>sourceSize</key>
                <string>{86,256}</string>
            </dict>
            <key>ccbResources/ui_combat/hi_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,164},{30,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{30,34}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>ccbResources/ui_combat/kick.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>ccbResources/ui_combat/net_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,164},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,28}</string>
            </dict>
            <key>ccbResources/ui_combat/net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{160,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/new_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,120},{50,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,19}}</string>
                <key>sourceSize</key>
                <string>{50,25}</string>
            </dict>
            <key>ccbResources/ui_combat/playername_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,2},{620,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,106}}</string>
                <key>sourceSize</key>
                <string>{620,106}</string>
            </dict>
            <key>ccbResources/ui_combat/practice_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,2},{214,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,94}}</string>
                <key>sourceSize</key>
                <string>{214,94}</string>
            </dict>
            <key>ccbResources/ui_combat/skillShoeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{112,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>ccbResources/ui_combat/tongguan_biaopang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1565,2},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>ccbResources/ui_combat/tongguan_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2006,2},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>ccbResources/ui_combat/tongguan_xuetiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{86,86}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>ccbResources/ui_combat/wind_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,164},{48,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,29}}</string>
                <key>sourceSize</key>
                <string>{48,29}</string>
            </dict>
            <key>ccbResources/ui_combat/wind_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{125,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,86}}</string>
                <key>sourceSize</key>
                <string>{125,86}</string>
            </dict>
            <key>ccbResources/ui_combat/wind_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1999,38},{40,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>ccbResources/ui_combat/winter_net_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,164},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,28}</string>
            </dict>
            <key>ccbResources/ui_combat/winter_net_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/winter_net_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/winter_net_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/winter_net_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,164},{160,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
            <key>ccbResources/ui_combat/winter_net_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{160,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,32}}</string>
                <key>sourceSize</key>
                <string>{160,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_combat.png</string>
            <key>size</key>
            <string>{2044,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b268bb42b3e11ccd2b33d4fa4be375b7:85e607a02d96d3291c6b7d8b4fadc11c:7e163e46285a02c2a54a3626a475571b$</string>
            <key>textureFileName</key>
            <string>ui_combat.png</string>
        </dict>
    </dict>
</plist>
