<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/ui_train/MessageBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,132}}</string>
                <key>sourceSize</key>
                <string>{640,132}</string>
            </dict>
            <key>ccbResources/ui_train/cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{46,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ccbResources/ui_train/dummy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{46,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{46,82}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>ccbResources/ui_train/line03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{1,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,82}}</string>
                <key>sourceSize</key>
                <string>{1,82}</string>
            </dict>
            <key>ccbResources/ui_train/pole_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,772},{16,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,13},{16,80}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>ccbResources/ui_train/pole_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{18,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{18,82}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>ccbResources/ui_train/pole_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{24,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,14},{24,80}}</string>
                <key>sourceSize</key>
                <string>{60,100}</string>
            </dict>
            <key>ccbResources/ui_train/traffic_cone.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,730},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>ccbResources/ui_train/traffic_cone_.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,644},{42,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{42,48}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>ccbResources/ui_train/traffic_cone_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,688},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_train.png</string>
            <key>size</key>
            <string>{136,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05b81f6fba6b585a23e48bd915adac9e:b6da5bb0c4df4037086271cd592e72cf:d3c2cc5911932eee3773552291ada701$</string>
            <key>textureFileName</key>
            <string>ui_train.png</string>
        </dict>
    </dict>
</plist>
