<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1394},{26,32}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{26,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1332},{24,32}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{24,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1298},{24,32}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,35},{24,32}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{30,34}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{30,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1262},{24,34}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,20},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1592},{28,34}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,23},{28,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1226},{24,34}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,26},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1190},{24,34}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{24,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{28,34}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,29},{28,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/J_chesting_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{28,34}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{28,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1110},{26,20}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,56},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1082},{26,20}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,61},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1054},{26,20}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,63},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,998},{26,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,55},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1026},{26,22}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,49},{26,22}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1164},{24,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,53},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,1138},{24,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,55},{24,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,1366},{26,18}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,58},{26,18}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,940},{28,20}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,59},{28,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/P_chesting_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,970},{26,20}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,58},{26,20}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1462},{28,66}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{28,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1462},{28,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{28,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1528},{28,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{28,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{36,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{36,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{34,76}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,20},{34,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{34,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,24},{34,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{32,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{32,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1318},{32,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{32,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1168},{32,74}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{32,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/W_chesting_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{30,70}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,27},{30,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{42,84}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{42,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{40,82}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,21},{40,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{40,80}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,25},{40,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{52,94}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{52,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,102}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{54,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{52,102}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,11},{52,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{50,98}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{50,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{54,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,16},{54,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{54,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{54,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/chesting/chesting_F_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{48,88}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{48,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chesting.png</string>
            <key>size</key>
            <string>{62,1660}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91ecbcb16354c086d0194689b58a114d:00b47932b4dac3238af07261388ce6dd:850a26dd3f9f8c1c45681fb5dd265a0b$</string>
            <key>textureFileName</key>
            <string>chesting.png</string>
        </dict>
    </dict>
</plist>
