<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_kuzi_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{26,20}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,62},{26,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_kuzi_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,656},{26,20}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{26,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_kuzi_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,378},{24,16}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,55},{24,16}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_kuzi_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,350},{26,18}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,60},{26,18}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_kuzi_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{26,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{26,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_tiaowen_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{38,28}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,39},{38,28}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_tiaowen_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,622},{32,20}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,44},{32,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_tiaowen_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{32,20}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,40},{32,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_tiaowen_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,586},{34,20}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,44},{34,20}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_tiaowen_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{32,26}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,43},{32,26}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yansei_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,80}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{52,80}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yansei_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{42,64}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{42,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yansei_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{42,64}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{42,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yansei_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{42,64}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yansei_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{42,66}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,42},{42,66}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yifu_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{38,62}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{38,62}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yifu_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{34,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,44},{34,56}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yifu_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{34,56}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,40},{34,56}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yifu_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{34,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,45},{34,54}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ccbResources/model/player/Front_view/hit/qiuji_f_yifu_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{32,56}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,43},{32,56}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit.png</string>
            <key>size</key>
            <string>{63,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7efdda13f51fab8462e45f1ca93029:b71810b5dd139f4fe39079da95b8fefe:516f89fe362b6390efd4aa18575c8762$</string>
            <key>textureFileName</key>
            <string>hit.png</string>
        </dict>
    </dict>
</plist>
